.SideBar {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    background: rgb(119, 128, 247);
    background: linear-gradient(176deg, rgba(119, 128, 247, 1) 0%, rgba(29, 158, 230, 1) 100%);
    width: 100%;
    img {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        margin-top: 1em;
    }
    ul {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 3em;
        li {
            font-size: 2.4rem;
            margin-top: 2em;
            button {
                cursor: pointer;
            }
            a {
                color: white;
            }
        }
    }
}