.Notes {
    display: grid;
    grid-template-rows: 8em 1fr 5em;
    height: 100vh;
    .box-info {
        align-items: center;
        background-color: #1e2f97;
        border-radius: 1em;
        display: flex;
        flex-flow: row;
        margin: 1em 1.5em;
        padding: 1em;
        width: 96%;
        height: 110%;
        img {
            border-radius: 50%;
            width: 4em;
            height: 4em;
        }
        .info {
            margin-left: 1em;
            h3 {
                color: white;
                width: 100%;
                font-size: 1.5rem;
            }
            label {
                color: white;
                display: block;
                font-size: 1rem;
            }
        }
    }
    .notes {
        h3 {
            width: 6em;
            font-size: 1rem;
            background-color: #7cd5f5;
            border-radius: 3em;
            padding: 0.2em 0;
            text-align: center;
            font-weight: 700;
            margin-top: 3em;
            margin-left: 1.5em;
        }
        .note-card {
            display: flex;
            flex-flow: row;
            align-items: center;
            background-color: #c3c3c3;
            padding: 0.8em 2em;
            border-radius: 0.5em;
            margin: 0.5em 1.2em;
            width: 96%;
            p {
                margin-left: 1em;
                color: white;
            }
        }
    }
}